.App {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .nav-ul ul {
    float: none;
  }
}
  @media screen and (max-width: 600px) {
    .nav-ul1 ul {
      float: none;
    }
  }
  @media screen and (max-width: 600px) {
    .footer {
      float: none;
    }
  }
.nav-ul ul .item {
  display: block;
  font-size: x-large;
  color: white;
  text-decoration: none;
  padding-inline: 2vw;

}
.nav-ul1 ul .item {
  display: block;
  font-size: x-large;
  color: white;
  text-decoration: none;
  padding-inline: 2vw;
  margin-top: 5vh;
}



.nav-ul1 ul .logo{
  margin-right: 31px
}
.nav-ul {
  background-color:tan;
  padding-top: 1px;
}
.nav-ul1 {
  background-color:tan;
  padding-top: 1px;
}

.nav-ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  margin-left:10px;
}
.nav-ul1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  margin-left:10px;
}

.nav-ul1 ul  img {
  width: 100px;
  height: 90px;

}

.inputBox {
  display: block;
  width: 21vw;
  padding: 1vw;

  margin-top: 16px;
  border: ridge;
  border-radius: 18px;
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 3vh;
  padding-right: 14vw;
}

.signUp {
  margin-top: 5vh;
margin-left: 10vw;
margin-right: 12vw;
padding-left: 18%;

color: revert;
background-color: tan;
border-radius: 11px;
padding-bottom: 25px;
padding-top: 5vh;
}
.signUp  label{

font-size: xx-large;

}
.CsignUp  label{

  font-size: xx-large;
  
  }
.CsignUp{
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 12vw;
  padding-left: 18%;
 
  color: revert;
  background-color: tan;
  border-radius: 10px;
  padding-bottom: 25px;
  padding-top: 5vh;
}
.CsignUp .signupLink {
  display: table-cell;
  font-size: 1vw;
  padding-inline-end: 2vh;
  background-color: antiquewhite;
  text-decoration: none;
  color: white;
  background-color: cadetblue;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}
.CsignUp .CsignupLink {
  display: table-cell;
  font-size: 1vw;
  padding-inline-end: 2vh;
  text-decoration: none;
  color: cadetblue;;
  background-color: white;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}
.signUp #or {
  font-size: 5vw;
}
.CsignUp #or {
  font-size: 5vw;
}

.helpLine{
  
}
.signUp .signupLink {
  display: table-cell;
  font-size: 1vw;
  padding-inline-end: 2vh;
  background-color: antiquewhite;
  text-decoration: none;
  color: white;
  background-color: cadetblue;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}
.initial-link a:hover {
  background-color: white;
  color: cadetblue;
}
.signUp a:hover {
  background-color: white;
  color: cadetblue;
}
.signUp select{
  background-color: cadetblue;
  color: white;
  border-radius: 21px;
  padding-right: 13vw;
  padding-left: 16vw;
}
.signUp button{
  font-size: x-large;
padding-right: 24px;
}
.CsignUp button{
  font-size: x-large;
padding-right: 24px;
}
.CsignUp select{
  background-color: cadetblue;
color: white;
border-radius: 21px;
padding-right: 13vw;
padding-left: 16vw;
}
.signUp .EsignupLink {
  display: table-cell;
  font-size: 1vw;
  padding-inline-end: 2vh;
  text-decoration: none;
  color: cadetblue;
  background-color: white;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}

.footer {
  bottom: -10vh;
  color: #707070;
  height: 100%;
  left: 0;
  position: relative;
  font-size: xxx-large;
  width: 100%;
  background-color: tan;;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}