.App {
  text-align: center;
}

.nav-ul ul .item {
  display: block;
  font-size: x-large;
  color: white;
  text-decoration: none;
  padding-inline: 2vw;

}
.nav-ul1 ul .item {
  display: block;
  font-size: x-large;
  color: white;
  text-decoration: none;
  padding-inline: 2vw;
  margin-top: 5vh;
}



.nav-ul1 ul .logo{
  margin-right: 31px
}
.nav-ul {
  background-color:rgb(96,254,255);
  padding-top: 1px;
}
.nav-ul1 {
  background-color:rgb(96,254,255);
  padding-top: 1px;
}

.nav-ul ul {
  display: flex;
  margin-top: 5vh;
}
.nav-ul1 ul {
  display: flex;
  margin-top: 5vh;
}

.nav-ul1 ul div a img {
  width: 181px;
  height: 140px;

}

.inputBox {
  display: block;
  width: 300px;
  padding: 12px;
  padding-top: 12px;
  padding-right: 12px;
  margin-top: 16px;
  border: ridge;
  border-radius: 18px;
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 18px;
  padding-right: 203px;
}

.signUp {
  margin-top: 5vh;
margin-left: 10vw;
margin-right: 12vw;
padding-left: 18%;
font-size: xx-large;
color: revert;
background-color: lavender;
border-radius: 11px;
padding-bottom: 25px;
padding-top: 5vh;
}

.CsignUp{
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 12vw;
  padding-left: 18%;
  font-size: xx-large;
  color: revert;
  background-color: lavender;
  border-radius: 10px;
  padding-bottom: 25px;
  padding-top: 5vh;
}
.CsignUp .signupLink {
  display: table-cell;
  font-size: 1vw;
  padding-inline-end: 2vh;
  background-color: antiquewhite;
  text-decoration: none;
  color: white;
  background-color: cadetblue;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}
.CsignUp .CsignupLink {
  display: table-cell;
  font-size: 1vw;
  padding-inline-end: 2vh;
  text-decoration: none;
  color: cadetblue;;
  background-color: white;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}
.signUp #or {
  font-size: 80px;
}
.CsignUp #or {
  font-size: 80px;
}


.signUp .signupLink {
  display: table-cell;
  font-size: 19px;
  padding-inline-end: 2vh;
  background-color: antiquewhite;
  text-decoration: none;
  color: white;
  background-color: cadetblue;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}

.signUp select{
  background-color: cadetblue;
  color: white;
  border-radius: 21px;
  padding-right: 22vh;
  padding-left: 23vh;
}
.signUp button{
  font-size: x-large;
padding-right: 24px;
}
.CsignUp button{
  font-size: x-large;
padding-right: 24px;
}
.CsignUp select{
  background-color: cadetblue;
color: white;
border-radius: 21px;
padding-right: 22vh;
padding-left: 23vh;
}
.signUp .EsignupLink {
  display: table-cell;
  font-size: 19px;
  padding-inline-end: 2vh;
  text-decoration: none;
  color: cadetblue;
  background-color: white;
  border-radius: 25px;
  padding-left: 4vh;
  padding-right: 4vh;
}

.footer {
  bottom: -10vh;
  color: #707070;
  height: 100%;
  left: 0;
  position: relative;
  font-size: xxx-large;
  width: 100%;
  background-color: rgb(96,254,255);;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}